AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=https://DEPLOYMENTENDPOINTNAME.openai.azure.com
AZURE_OPENAI_DEPLOYMENT_NAME_WHISPER=whisper
AZURE_OPENAI_API_VERSION_WHISPER=2024-06-01
AZURE_OPENAI_DEPLOYMENT_NAME_CHAT=gpt-4o
AZURE_OPENAI_API_VERSION_CHAT=2023-03-15-preview

GROQCLOUD_API_KEY=
GROQCLOUD_MODEL=
GROQCLOUD_API_ENDPOINT=
GROQCLOUD_MODEL_NAME_CHAT=

OPENAI_API_KEY=
OPENAI_MODEL=
OPENAI_API_ENDPOINT=
OPENAI_MODEL_NAME_CHAT=gpt-4o
